In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [11]:
df = pd.read_csv("D:\house.csv")

In [12]:
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [13]:
df.bedroom.median()

3.5

In [14]:
import math
med = math.floor(df.bedroom.median())

In [15]:
med

3

In [18]:
df.bedroom.fillna(med,inplace = True)

In [19]:
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [20]:
reg = linear_model.LinearRegression()

In [21]:
reg.fit(df[['area','bedroom','age']],df.price)

LinearRegression()

In [22]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [23]:
reg.intercept_

383725.0

In [26]:
reg.predict([[3000,3,40]])

C:\Users\KEYURPATEL\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([444400.])

### HOW TO CALCULATE PRICE USING FORMULA

### price = coef1*area+coef2*bedroom+coef3*age+intercept

In [28]:
137.25*3000+-26025*3+40*-6825+383725.0

444400.0