In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\KEYURPATEL\\Dropbox\\PC\\Downloads\\wheatherdata\\wheather.csv")

In [4]:
df

          day  temp  windspeed  event
0  01-01-2017    32          6   rain
1  02-01-2017    33          7  sunny
2  03-01-2017    31          8   snow
3  04-01-2017    36          9   snow
4  05-01-2017    40          4   rain
5  06-01-2017    30          5  sunny

In [5]:
df.shape

(6, 4)

In [6]:
df.head()

          day  temp  windspeed  event
0  01-01-2017    32          6   rain
1  02-01-2017    33          7  sunny
2  03-01-2017    31          8   snow
3  04-01-2017    36          9   snow
4  05-01-2017    40          4   rain

In [7]:
df.tail()

          day  temp  windspeed  event
1  02-01-2017    33          7  sunny
2  03-01-2017    31          8   snow
3  04-01-2017    36          9   snow
4  05-01-2017    40          4   rain
5  06-01-2017    30          5  sunny

In [8]:
df[2:5]

          day  temp  windspeed event
2  03-01-2017    31          8  snow
3  04-01-2017    36          9  snow
4  05-01-2017    40          4  rain

In [9]:
df.columns

Index(['day', 'temp', 'windspeed', 'event'], dtype='object')

In [10]:
df.day

0    01-01-2017
1    02-01-2017
2    03-01-2017
3    04-01-2017
4    05-01-2017
5    06-01-2017
Name: day, dtype: object

In [11]:
df.event

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
Name: event, dtype: object

In [14]:
df[['day','event']]

          day  event
0  01-01-2017   rain
1  02-01-2017  sunny
2  03-01-2017   snow
3  04-01-2017   snow
4  05-01-2017   rain
5  06-01-2017  sunny

In [15]:
df

          day  temp  windspeed  event
0  01-01-2017    32          6   rain
1  02-01-2017    33          7  sunny
2  03-01-2017    31          8   snow
3  04-01-2017    36          9   snow
4  05-01-2017    40          4   rain
5  06-01-2017    30          5  sunny

In [16]:
df.temp.max()

40

In [17]:
df.windspeed.max()

9

In [18]:
df.describe()

            temp  windspeed
count   6.000000   6.000000
mean   33.666667   6.500000
std     3.723797   1.870829
min    30.000000   4.000000
25%    31.250000   5.250000
50%    32.500000   6.500000
75%    35.250000   7.750000
max    40.000000   9.000000

In [19]:
df[df.temp>32]

          day  temp  windspeed  event
1  02-01-2017    33          7  sunny
3  04-01-2017    36          9   snow
4  05-01-2017    40          4   rain

In [23]:
df[['day','temp']][df.temp==df['temp'].max()]

          day  temp
4  05-01-2017    40

In [25]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [28]:
df.set_index('day',inplace=True)

In [29]:
df

            temp  windspeed  event
day
01-01-2017    32          6   rain
02-01-2017    33          7  sunny
03-01-2017    31          8   snow
04-01-2017    36          9   snow
05-01-2017    40          4   rain
06-01-2017    30          5  sunny

In [31]:
df.loc['01-01-2017']

temp           32
windspeed       6
event        rain
Name: 01-01-2017, dtype: object

In [33]:
df.reset_index(inplace=True)

In [34]:
df

          day  temp  windspeed  event
0  01-01-2017    32          6   rain
1  02-01-2017    33          7  sunny
2  03-01-2017    31          8   snow
3  04-01-2017    36          9   snow
4  05-01-2017    40          4   rain
5  06-01-2017    30          5  sunny